/* ================================================================
    About Page Styles
=================================================================== */

.about {

    .who {
        background-image: url('../img/bg_about-who.jpg');
    }

    .philosophy {
        text-align: right;
        color: $blue;
        background-image: url('../img/bg_about-philosophy.jpg');
    }

    .community {
        background-image: url('../img/bg_about-community.jpg');
    }

    .team {

        h1 {
            @include font-size(1.5, 2);
            color: $blue;
        }
    }

    .faq {
        background: #f3f3f3;
        
        h1 {
            color: $blue;
        }

        .faq-list {
            float: right;
            @include col(3,4);
        }
    }
    
    .areas {
        @extend .primary;
        
        h2 {
            @include font-size(2, 2);
            color: $blue;
        }
        
        .tab-content {
            padding: 1.5em 0;
        }
    }
    
    .leadership-council {
        @extend .primary;
        background: #f3f3f3;
        
        h2 {
            @include font-size(2, 2);
            color: $blue;
        }
        
        h3 {
            color: $orange;
        }
        
        ul {
            margin: 0;
            list-style-type: none;
        }
        
        li {
            margin: 0 0 .5em;
            
            @include bp-l {
                @include rowMachine(4, 2.5%, 2.5%);    
            }
        }
    }
}

// Meet the Team

.grid-filters {
    margin: 1em 0;
    list-style-type: none;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;

    li {
        display: inline-block;
        margin-right: 2em;
        padding: .5em 0;
        color: #aa6500;
        cursor: pointer;
        text-transform: lowercase;

        &.active {
            border-top: 2px solid $orange;
        }

        &:hover {
            color: $orange;
        }
    }
}

.grid {
    margin: 3em 0 0;
    list-style-type: none;

    .grid-item {
        width: 50%;
        margin-right: 1em;
        margin-bottom: 1em;

        @include bp-l {
            width: 25%;
        }

        h1 {
            margin-bottom: .25em;
        }

        img {
            margin: 0 0 1em;
            width: 180px;
        }

        span {
            display: inline-block;
            margin-right: 5px;
            color: #aa6500;
            @include font-size(.875, 1);
        }
    }
}
