/* ================================================================
    Blog Page Styles
=================================================================== */

.blog {
    
    .page-header {
        padding: 4em 0;
        color: #fff;
        background: url('../img/bg_policyshop.jpg');
        
        h1 {
            margin: 0;
            @include font-size(2, 2);
        }
        
        p {
            margin-top: 1em;
        }
    }
    
    .blog-item {
        @extend %clearfix;
        position: relative;
        padding: 2em 0;
        border-bottom: 1px solid #ddd;
        
        &:first-child {
            padding-top: 0;
        }
        
        &:last-child {
            border: none;
        }
        
        .blog-image {
            float: left;
            width: 220px;
            margin: 0 1em 0 0;
        }
        
        .blog-details {
            
            @include bp-l {
                margin-left: 246px;
            }
        }
        
        .blog-title-link {
            color: $blue;
            
            h2 {
                @include font-size(1.8, 2.4);
                font-weight: 300;
                margin-bottom: .5em;
            }
        }
        
        time {
            display: block;
            margin-bottom: 1em;
        }
        
        .blog-date {
            float: left;
            margin-right: 1em;
            text-align: center;
            
            span {
                display: block;
            }
            
            .date {
                padding: .5em 1em;
                color: #fff;
                background: $orange;
            }
            
            .day {
                @include font-size(1.6, 2.2);
                font-weight: 600;
            }
            
            .month-year {
                @include font-size(.875, 1);
            }
            
            .icon {
                margin-top: .5em;
                padding: .5em;
                background: #ececec;
                color: $orange;
                @include font-size(1.2, 1.4);
            }
        }
        
        .entry-meta {
            margin: 0 0 1em;
        }
        
        .read-more {
            display: block;
            margin: 1em 0;
        }
    }
    
    .navigation {
        margin: 0;
        list-style-type: none;
    }
    
    .secondary-content {
        
        aside {
            margin-bottom: 1em;
        }
        
        ul {
            margin-left: 0;
            list-style-type: none;
        }
    }
    
    .bs-featured-in {
        margin-bottom: .5em;
        color: #000;
        @include font-size(.875, 1);
    }
}
