/* ================================================================
    Events Page Styles
=================================================================== */

.events {
	
	.content {
		h1 {
			@include font-size(1.75, 2);
			color: $blue;
			
			@include bp-l {
				@include font-size(2, 2.4);
			}
		}		
		
		.calendar {
			
			@include bp-l {
				max-height: 600px;
				overflow-y: scroll;				
			}
			
			h1 {
				color: $orange;
			}
		}
	} 
}

.event-featured {
	margin: 0 0 2em;

	.featured-content {
		padding: 2em;
		color: #fff;
		text-align: center;
		background-image: url('../img/bg_events-cta.jpg');
		background-size: cover;
		
		h2, p {
			text-align: left;
		}
	}
}

.events-list {
	margin: 1em 0;
	padding: 0;
	list-style-type: none;

	.event {
		position: relative;
		@extend %clearfix;
		padding: 1.5em 0;
		border-top: 1px solid #ececec;
	}

	.event-date {
		position: absolute;
		min-width: 60px;
		margin: 0 1em 0 0;
		padding: .25em 1.25em;
		text-align: center;
		text-transform: lowercase;
		color: #fff;
		background: $orange;

		span {
			display: block;
			@include font-size(1, 1.4);
		}

		.day {
			@include font-size(1.4, 1.8);
		}
	}
	
	.bspa-event {
		.event-date {
			background: $orange;
		}
	}
	
	.community {
		.event-date {
			background: $blue;
		}
	}
	
	.spotlight {
		.event-date {
			background: #333;
		}
	}

	.event-details {
		float: left;
		min-height: 80px;
		padding-left: 84px;
		color: $blue;

		h2 {
			@include font-size(1.6, 1.8);
			margin-bottom: 0;

			a {
				color: $blue;
			}
		}

		.location {
		}
	}

	.description {
		float: left;
		width: 100%;
		margin: 1em 0;
	}
}

.events-page-conference {
	@extend .primary;
	background: #fafafa;
}

.events-page-spotlight {
	@extend .primary;
	
	.flip-container, .front, .back {
    	width: 280px;
    	height: 280px;
	}
}

.events-event-highlights {
	background: #fafafa;
	
	.event-highlight-list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		
		li {
			
			@include bp-l {
				@include rowMachine(3, 5%, 2.5%);	
			}
		}
		
		a {
			position: relative;
		}
		
		svg {
            position: absolute;
            top: 0;
            left: 50%;
            top: 50%;
            margin-top: -25px;
            margin-left: -25px;
            width: 50px;
            height: 50px;
            fill: #fff;
            opacity: .5;
            transition: all .2s;
        }

		img {
			margin-bottom: 1em;
		}

		h3 {
			margin-bottom: 0;
		}
	}
	
	.secondary-content & {
		margin-top: 2em;
		background: transparent;
		
		h3 {
			color: $blue;
		}
		
		img {
			margin-top: 1em;
		}
		
		li {
			@include rowMachine(1, 0, 2.5%);
		}
	}
}

/* Single Events ------------------------------------------ */

.single-event {
	
	// Flexslider
    .flexslider {
        margin: 0;
        border: 0;
        border-radius: 0;
        overflow: hidden;

        // Nav
        .flex-direction-nav {

            @media (max-width: 720px) {
                display: none;
            }

            a {
                background: rgba(0, 0, 0, 0.6);
                font-size: 0;

                &:before {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    content: "\f053";
                    font-family: "FontAwesome";
                    font-size: 20px;
                    display: inline-block;
                    color: #fff;
                    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
                }

                &.flex-next {

                    &:before {
                        left: auto;
                        right: 10px;
                        content: "\f054";
                    }
                }
            }
        }

        &:hover {

            .flex-direction-nav {

                a {
                    left: 0;

                    &.flex-next {
                        left: auto;
                        right: 0;
                    }
                }
            }
        }
    }
	
	.page-header {
		
		.date {
			margin: 0 0 1em;
			
			.month {
				display: block;
				@include font-size(2.6, 3.0);
				text-transform: lowercase;
			}
			
			.day {
				display: block;
				@include font-size(3.2, 3.0);
			}
		}
		
		h1 {
			margin-bottom: .25em;
			@include font-size(2.6, 3.0);
		}
		
		.location {
			@include font-size(1.8, 2.4);
			text-transform: lowercase;
		}
	}
	
	.subsection {
		padding: 2em 0;
		border-top: 1px solid #ececec;
		
		&:first-of-type {
			padding-top: 0;
			border: none;
		}
		
		h2 {
			@include font-size(2.25, 2.25);
			color: $blue;
		}
	}
	
	.content:first-child {
		padding-right: 0;
		padding-left: 1em;	
	}
	
	.secondary-content:last-child {
		padding-left: 0;
		padding-right: 1em;
	}
}

/* Conferences ------------------------------------------ */

.single-conference {
	
	.page-header {
		padding: 4em 0;
		background-image: url('../img/bg_conference.jpg');
	}
	
	.content {
		width: 100%;
	}
}

.single-conference {
	
	.conference-nav {
		text-align: center;
		
		ul {
			margin: 0;
			list-style-type: none;
		}
		
		li {
			display: inline-block;
			margin: 0 .5em;
			padding: .5em 0;
			@include font-size(2, 2);
			
			&.active {
				border-bottom: 3px solid $orange;
			}
		}
		
		a {
			color: $blue;
		}
	}
	
	.tab-nav {
		margin-top: 0;
	}
	
	.current-conference {
		text-align: center;
		
		h1 {
			margin-top: 1em;
		}
	}
	
	.event-highlight-list {
		@extend %unlist;

		li {
			
			@include bp-l {
				@include rowMachine(4, 4%);	
			}
		}
		
		a {
			position: relative;
		}
		
		svg {
            position: absolute;
            top: 0;
            left: 50%;
            top: 50%;
            margin-top: -25px;
            margin-left: -25px;
            width: 50px;
            height: 50px;
            fill: #fff;
            opacity: .5;
            transition: all .2s;
        }

		img {
			margin-bottom: 1em;
		}

		h3 {
			margin-bottom: 0;
		}
	}
}

/* Conference/Event Speaker List --------------------------------------- */

.speaker-list {
	list-style-type: none;
	margin: 16px 0;
	padding: 0;
	@include row;

	li {
		text-align: center;
		
		@include bp-l {
			@include rowMachine(3, 2.5%, 0);
		}
		
		@include bp-xl {
			@include rowMachine(6, 2.5%, 0);
		}
	}
	
	h3 {
		@include font-size(1, 1.4);
	}
	
	img {
		margin: 0 0 1em;
	}
}

// RFJW Foundation
#gform_15 {
	text-align: center;
	
	label {
		text-align: center;
	}
}

#post-16167 {
	.page-header h1 {
		display: none;
	}
}
