/* ================================================================
    Giving Page Styles
=================================================================== */

.giving {

    .page-header {
        
        p:first-of-type {
            margin-bottom: 1em;
        }
    }

    .content {
        @include col(4, 4);
    }
    
    #tab-1, #tab-2, #tab-4 {
        
        @include bp-xxl {
            padding: 1.5em 9em;
        }
    }

    .flip-cards {
        max-width: 900px;
        margin: 0 auto;
    }

    .flip-container {
        float: left;
    }
    
    .partners {
        @extend %clearfix;
        position: relative;
        padding: 3em 0;
        background: #fafafa;
        
        h2 {
            display: inline-block;
            padding: 0 .5em 0 0;
            @include font-size(2, 2.4);
            background: #fafafa;
            position: relative;
            z-index: 1;
        }
        
        hr {
            position: relative;
            top: -5em;
            margin-bottom: 0;
        }
        
        ul {
            margin: 1em 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
        }
        
        li {
            flex: 100%;
            margin-bottom: 2em;
            
            @include bp-l {
                flex: 30%;
                margin-right: 3%; 
            }
            
            @include bp-xl {
                flex: 15%;
                margin-right: 5%;
            }
        }
    }
}
