/* ================================================================
    Home Page Styles
=================================================================== */

.home {

    // Flexslider
    .flexslider {
        margin: 0;
        border: 0;
        border-radius: 0;
        height: 300px;
        overflow: hidden;

        .slides li {
            color: #fff;
            min-height: 300px;
            background-position: center center;
            background-size: cover;

            &.simple {
                text-align: center;
            }

            &.dark {
                color: #333;
            }

            .slide-content {
                position: absolute;
                width: 95%;
                top: 50%;
                left: 50%;
                margin-left: -47.5%;
                z-index: 5;
                transform: translateY(0);
                transition: transform .5s .2s;

                @include bp-xl {
                    width: 1000px;
                    margin-left: -500px;
                }

                @include bp-xxl {
                    width: 1150px;
                    margin-left: -575px;
                }
            }

            &.flex-active-slide {

                .slide-content {
                    transform: translateY(-50%);
                }
            }

            h1 {
                @include font-size(1.8, 2);
            }
        }

        // Nav
        .flex-direction-nav {

            @media (max-width: 720px) {
                display: none;
            }

            a {
                background: rgba(0, 0, 0, 0.6);
                font-size: 0;

                &:before {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    content: "\f053";
                    font-family: "FontAwesome";
                    font-size: 20px;
                    display: inline-block;
                    color: #fff;
                    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
                }

                &.flex-next {

                    &:before {
                        left: auto;
                        right: 10px;
                        content: "\f054";
                    }
                }
            }
        }

        &:hover {

            .flex-direction-nav {

                a {
                    left: 0;

                    &.flex-next {
                        left: auto;
                        right: 0;
                    }
                }
            }
        }

        .button {
            margin-top: 2em;
            @include font-size(.75, 1);
        }

        p {
            display: none;

            @include bp-l {
                display: block;
            }
        }
    }
    
    // Cards
    .cards {
        @extend %clearfix;
        padding: 2em 0 0;
    }

    // Goals Section
    .goals {
        @extend %clearfix;
        padding: 0 0 1em;
        background: #fafafa;

        .home-callout {
            padding: 1em;
            color: #fff;
            text-align: center;
            background: $blue;
            
            @include bp-xl {
                @include rowMachine(3, 0, 0);
            }
            
            .callout-content {
                display: none;
            }
            
            h2 {
                margin-bottom: 0;
                color: $orange;
                @include font-size(1.2, 2);
                
                @include bp-l {
                    @include font-size(1.4, 2.5);
                }
                
                &:after {
                    content: "\f078";
                    font-family: "FontAwesome";
                    display: inline-block;
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    font-size: 18px;
                }

                &.open {

                    &:after {
                        content: "\f077";
                    }
                }                
            }

            &.second {
                background: #d0d4d7;

                h2 {
                    color: $blue;
                }

                p {
                    color: #333;
                }
            }

            &.third {
                background: $orange;

                h2 {
                    color: #fff;
                }
            }
        }

        ul {
            list-style-type: none;
        }

        li {
            margin: 0 0 1em;
            @include font-size(.8125, 1.2);
        }
    }

    // Twitter Section
    .tweet {
        @include col(1,2);
        
        @include bp-xl {
            @include col(1,4);
        };
    }

    .twitter .follow {
        margin: 2em 0 0;
        padding: 2em 0 0;
        text-align: center;
        border-top: 1px solid $bordergray;

        h2 {
            @include font-size(1.5, 1);

            i {
                position: relative;
                top: 3px;
                margin-right: 8px;
                color: #53aef2;
                @include font-size(2);
            }
        }

        p {
            width: 80%;
            margin: 0 auto;
            @include font-size(.875, 1.2);
            color: $dark-gray;

            @include bp-l {
                width: 50%;
            }
        }

        .button {
            margin-top: 2em;
        }
    }
    
    .popup {
        margin: 0 1em;
        padding: 1em;
        color: #fff;
        text-align: center;
        background: url('../img/bg_popup.jpg');
        background-size: cover;
        
        h1 {
            margin-bottom: .5em;
            @include font-size(2, 2.25);
        }
        
        p {
            color: $blue;
        }
        
        .gform_wrapper {
            margin-bottom: 0;
        }
        
        @include bp-l {
            max-width: 700px;
            padding: 2em 8em;
            
            h1 {
                @include font-size(3, 3);
            }
        }
    }
}
