/* ================================================================
    Jobs Page Styles
=================================================================== */

.jobs-section-title {
	margin-top: 2em;
}

.job-filters {
    @extend %clearfix;
	margin: 0 0 1em;
	padding: 1em 2em;
	background: #ececec;

    ul {
        @extend %clearfix;
		margin: 0;
        padding: 0;
		list-style-type: none;
    }

    li {
		font-size: 14px;

        @include bp-l {
            float: left;
            width: 50%;
        }

        @include bp-xl {
            width: 33%;
        }

        @include bp-xxl {
            width: 25%;
        }
    }

    a {
        display: inline-block;
		margin: 0 0 1.5em;
		color: #181e6c;
		font-weight: 700;
		text-transform: lowercase;
    }

	span {
		color: #747474;
	}

    .call-categories {
        @extend %clearfix;
		padding-top: 2em;
		border-top: 1px solid #ddd;
	}
}

.jobs-list {

    .job-description h4 {
        margin-top: 0;
        margin-bottom: 8px;
        @include font-size(1, 1.5);
        color: #333333;
        font-weight: 700;
    }

    p {
        margin-bottom: 1em;
        @include font-size(1, 1.5);
    }
}

// Jobs Forms

#job-posting {
	padding: 2em 0;
	background-image: url('../img/bg_jobs-orange.png');
	background-size: cover;

	.container {
		@include row;

		.jobs-column {
			@include col(1,2);
		}

		.jobs-form {
			margin: 0 0 1em;
			padding: 2em;
			text-align: center;
			color: #fff;
			background: $orange;

			p {
				@include font-size(.875, 1.4);
			}

			a {
				color: #000;
			}
		}
	}
}
