/* ================================================================
    Jobs Page Styles
=================================================================== */

.job-filters {
    @extend %clearfix;
	margin: 0 0 1em;
	padding: 1em 2em;
	background: #ececec;

    ul {
        @extend %clearfix;
		margin: 0;
        padding: 0;
		list-style-type: none;
    }

    li {
		font-size: 14px;

        @include bp-l {
            float: left;
            width: 50%;
        }

        @include bp-xl {
            width: 33%;
        }

        @include bp-xxl {
            width: 25%;
        }
        
        &.active {
            
            a {
                color: $orange;
            }
        }
    }

    a {
        display: inline-block;
		margin: 0 0 1.5em;
		color: #181e6c;
		font-weight: 500;
		text-transform: lowercase;
    }

	span {
		color: #747474;
	}

    .call-categories {
        @extend %clearfix;
		padding-top: 2em;
		border-top: 1px solid #ddd;
	}
}

.jobs-list {
    
    @include bp-l {
        max-height: 650px;
        overflow-y: scroll;    
    }
    
    .job-title {
        font-weight: 500;
    }

    .job-description h4 {
        margin-top: 0;
        margin-bottom: 8px;
        @include font-size(1, 1.5);
        color: #333333;
        font-weight: 500;
    }

    p {
        margin-bottom: 1em;
        @include font-size(1, 1.5);
    }
}

// Jobs Forms

#job-posting {
	padding: 2em 0;
	background-image: url('../img/bg_jobs-orange.png');
	background-size: cover;

	.container {
		@include row;

		.jobs-column {
			@include col(1,2);
		}

		.jobs-form {
			margin: 0 0 1em;
			padding: 2em;
			text-align: center;
			color: #fff;
			background: $orange;

			p {
				@include font-size(.875, 1.4);
			}

			a {
				color: #000;
			}
		}
	}
}

/* Matchmaker Portal ------------------------------------------- */

.matchmaker {
    @extend %clearfix;
    padding: 4em 0;
    color: #fff;
    background: url('../img/bg_mm.png');
    background-size: cover;
    
    .mm-description {
        
        h1 {
            @include font-size(2.5, 2.5);
            text-align: center;
            
            @include bp-l {
                text-align: left;
                @include font-size(2.75, 2.75);
            }
        }
        
        li {
            margin: 0 0 1em;
            @include font-size(.875, 1.4);
        }
        
        @include bp-xl {
            float: left;
            width: 65%;
        }
    }
    
    .mm-form {
        text-align: center;
        
        img {
            margin: 0 0 1em;
        }
        
        .gform_Wrapper {
            max-width: 400px;
            margin: 0 auto;
        }
        
        @include bp-xl {
            float: right;
            width: 30%;
        }
    }
}
