/* ================================================================
    News Page Styles
=================================================================== */

.news {
    
    .feature-heading {
        margin: 0 0 1em;
        padding: 0 0 .75em;
        color: $blue;
        border-bottom: 1px solid #ececec;
        
        @include bp-l {
            @include font-size(2.125, 2.125);
        }
    }
    
    h2 {
        color: $blue;
    }
    
    .subnav {
        margin: 3.75em 0 0;
        
        li:first-of-type {
            border-top: 1px solid #ececec;
        }
    }
    
    /* Featured Item -------------------------------------------- */
    .featured-item {
        margin: 0;
        padding: 0;
        list-style-type: none;
        
        img {
            width: 100%;
            margin: 0 0 1em;
        }
        
        li {
            position: relative;
            
            &:hover {

                svg {
                    fill: $orange;
                    opacity: 1;
                }
            }
        }
        
        svg {
            position: absolute;
            top: 0;
            left: 50%;
            top: 50%;
            margin-top: -36px;
            margin-left: -36px;
            width: 72px;
            height: 72px;
            fill: #fff;
            opacity: .5;
            transition: all .2s;
        }
    }
    
    .news-section {
        @extend .primary;
    }
    
    /* Reports Section --------------------------------------------------- */
    .reports {
        @extend .primary;
        background: #fff;
        
        .content {
            width: 75%;
        }
        
        h2 {
            @include font-size(2, 2.4);
        }
        
        h3 {
            color: $blue;
        }
        
        ul {
            list-style-type: none;
            margin: 1em 0;
            padding: 0;
        }
        
        .reports-details {
            @extend %clearfix;
            
            li {
                @include rowMachine(3, 4%);    
                
                @include bp-l {
                    @include rowMachine(5, 4%);
                }
            }
        }
        
        // In action
        .in-action {

            .organizations {
                color: #565656;
                
                ul {
                    list-style-type: circle;
                    @include font-size(.875, 1.2);
                }
                
                > ul {
                    list-style-type: none;
                    
                    > li {
                        margin: 0 0 16px;
                        @include rowMachine(2, 4%);
                        
                        @include bp-l {
                            @include rowMachine(3, 4%);
                        }
                    }
                }
            }
        }        
        
        // Reports
        .report-list {
            
            li {
                position: relative;
                padding: 1em 0;
                border-top: 1px solid #ececec;
                
                @include bp-l {
                    min-height: 200px;
                }
            }
            
            .item-details {
                
                @include bp-l {
                    padding-right: 220px;
                }
            }
            
            .org {
                max-width: 200px;
                
                @include bp-l {
                    position: absolute;
                    top: 1em;
                    right: 0;
                }
            }
        }
    }
    
    .additional-resources {
        background: #fafafa;
        
        h1 {
            
            @include bp-l {
                margin: 0 0 1.5em;
                color: $blue;
                @include font-size(2.125, 2.125);
            }
        }
    }
}
