/* ================================================================
    News Page Styles
=================================================================== */

.news {

    /* News Sections -------------------------------------------- */
    .news-section {
        @extend .primary;

        .content {
            width: 75%;
        }

        ul {
            margin: 16px 0;
            padding: 0;
            list-style-type: none;
            @include row;
        }

        li {
            @include col(1, 3);

            &:hover {

                svg {
                    fill: $orange;
                    opacity: 1;
                }
            }
        }

        .news-image {
            position: relative;
            margin: 0 0 1em;
        }

        svg {
            position: absolute;
            top: 0;
            left: 50%;
            top: 50%;
            margin-top: -36px;
            margin-left: -36px;
            width: 72px;
            height: 72px;
            fill: #fff;
            opacity: .5;
            transition: all .2s;
        }
    }
    
    /* Reports Section --------------------------------------------------- */
    .reports {
        @extend .primary;
        
        .content {
            width: 75%;
        }
    }
}
