// This is where you can put any styles specific to a page
// .page is the class WordPress outputs to the body tag
.page {

    .content {

        @include bp-l {
            float: right;
        }

        p {
            margin-bottom: 1em;
        }
        
        // Gravity Forms

        .gform_wrapper {
            margin: 1em 0;
            text-align: left;
            font-family: 'museo-sans', Arial, sans-serif;

            .gform_fields, .gfield_radio {
                margin: 0;
                list-style-type: none;
            }

            label {
                display: block;
                text-align: left;
                text-transform: lowercase;
                color: #535353;
            }
            
            .gfield {
                margin: 0 0 2em;
            }
            
            .ginput_container_name {
                @include row;
                
                .name_first, .name_last {
                    @include col(1, 2);
                }
            }

            input[type="email"], input[type="text"], textarea {
                width: 100%;
                max-width: 500px;
                margin: 0 0 1em;
                padding: .5em;
                color: #535353;
                border: 1px solid #9d9d9d;
            }

            textarea {
                height: 150px;
            }
            
            .gfield_radio {
                margin: 1em 0 0;
                
                li {
                    position: relative;
                    margin: 0 0 .5em;
                    padding-left: 24px;
                }
                
                input[type="radio"] {
                    position: absolute;
                    top: 4px;
                    left: 0;
                }
            }
        }
    }

    .secondary-content {

        @include bp-l {
            float: left;
        }
    }

    // Page Header
    .page-header {
        padding: 3em 0;
        text-align: center;
        color: #fff;
        background: $blue;
        background-size: cover;

        h1 {
            @include font-size(2, 2);
        }
        
        p {
            
            @include bp-l {
                max-width: 70%;
                margin: 0 auto;
            }
        }
    }
}
