// This is where you can put any styles specific to a page
// .page is the class WordPress outputs to the body tag
.page {

    .content {

        @include bp-l {
            float: right;
        }

        p {
            margin-bottom: 1em;
        }
    }

    .secondary-content {

        @include bp-l {
            float: left;
        }

        // Subnavs
        .subnav {

            li {
                display: block;
                padding: 10px 10px 10px 12px;
                @include font-size(.8125);
                border-bottom: 1px solid rgb(231, 230, 230);
                text-transform: lowercase;

                &:before {
                    content: "\f054";
                    margin-right: 8px;
                    font-family: "FontAwesome";
                    color: $orange;
                }
            }
        }
    }

    // Page Header
    .page-header {
        padding: 3em 0;
        text-align: center;
        color: #fff;
        background: $blue;
        background-size: cover;

        h1 {
            @include font-size(2, 2);
        }
        
        p {
            
            @include bp-l {
                max-width: 70%;
                margin: 0 auto;
            }
        }
    }
}
