/* ================================================================
    Publications Styles
=================================================================== */

/* Publication Archive --------------------------------------------- */

#article-archive {

    .page-header {
        background-image: url('../img/bg_bsp-cta.jpg');
    }

    .secondary-content {

        @include bp-l {
            padding-left: 0;
        }
    }

    .primary h1 {
        padding: 0 0 1em;
        border-bottom: 1px solid #ececec;
    }

    h2 {
        @include font-size(1.2, 1.6);
        color: #000;
    }

    // Filter Controls
    .searchandfilter {

        ul {
            margin-left: 0;
        }

        h4 {
            position: relative;
            margin: 1em 0;
            padding-bottom: .5em;
            @include font-size(1.2, 1.6);
            border-bottom: 1px solid #ececec;

            &:before {
                content: "\f068";
                position: absolute;
                top: .5em;
                right: 0;
                color: #ccc;
                font-family: 'FontAwesome', Arial, sans-serif;
            }

            &.closed {

                &:before {
                    content: "\f067";
                }
            }
        }

        label, input[type="text"] {
            width: 100%;
        }

        input[type="text"] {
            padding: .5em;
        }

        .sf-label-radio {
            padding-left: 0;
        }

        input[type=radio] {
            display: none;

            &:checked + label {
                color: $orange;
            }
        }
        
        .select2-container {
            max-width: 100%;
        }
    }
}

.displayed-results {

    h2 {
        padding: 0 0 1em;
        border-bottom: 1px solid #ececec;
    }

    ul {
        margin: 0;
        list-style-type: none;

        li {
            display: inline-block;
            padding: 0 .5em;
            border-right: 1px solid;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                border: none;
            }
        }
    }
}

.journal-article {
    position: relative;
    margin: 0 0 1em;
    padding-left: 65px;
    padding-right: 200px;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ececec;
    color: #23272a;

    h3 {
        margin-bottom: 0;
    }

    svg {
        width: 48px;
        height: 48px;
        position: absolute;
        top: .75em;
        left: 0;
        fill: $orange;
    }

    .authors {
        margin: 0 0 1em;
    }

    .options {
        
        button {
            background: transparent;
            border: none;   
        }
        
        a {
            display: inline-block;
            margin-right: .25em;
        }
        
        i {
            display: block;
            width: 16px;
            height: 16px;
        }
    }

    img {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 180px;
    }
}

/* Single Publication --------------------------------------------- */

.single-article {
    background: #fafafa;

    .page-header {
        background-image: url('../img/bg_bsp-cta.jpg');
    }

    .article-header {
        position: relative;
        
        h1 {
            padding-right: 80px;
        }

        svg {
            position: absolute;
            top: 0;
            right: 0;
            width: 60px;
            height: 60px;
            fill: $blue;
        }

        .date {
            margin: .5em 0 0;
            @include font-size(.875, 1);
        }
    }

    h1 {
        margin-bottom: .5em;
    }
    
    h2 {
        @include font-size(1.4, 1.6);
    }
    
    h3, h4 {
        margin: 1.5em 0;
        @include font-size(1.25, 1.5);
    }

    .options {
        float: right;
        margin: .5em 0;
        @include font-size(2, 2);

        a {
            color: #ccc;
        }
    }

    .content {
        float: none;
        margin: 0 auto;
        display: block;

        p {
            margin-bottom: 1em;
        }
    }
    
    .content-boxes {
        padding: 1em;
        margin: 1em 0;
        font-size: 16px;
        background: #ececec;

        .fusion-clearfix {
            display: none;
        }
    }
    
    // Expand Blocks
    .expand-block {
        padding: .5em;
        border-top: 1px solid #ececec;

        .expand-title {
            
            h3 {
                color: $blue;
                
                &:before {
                    content: "\f067";
                    font-family: "fontawesome", Arial, sans-serif;
                    display: inline-block;
                    margin-right: 3em;
                    padding: 4px 8px;
                    font-size: 14px;
                    color: #fff;
                    background: $blue;
                }
            }
            
            &.open h3 {
                
                &:before {
                    content: "\f068";
                }
            }
        }
        
        .expand-description {
            display: none;
        }
    }

    .summary {
        margin: 2em 3em 1em;
        padding: 1em;
        border-left: 3px solid $orange;
        background: #f6f6f6;
    }

    .article-content {
        padding: 1em 0;

        p:first-child:first-letter {
            float: left;
            padding-right: 10px;
            padding-bottom: 10px;
            color: $orange;
            @include font-size(3, 3);
        }
    }
}

.related-articles {
    padding: 48px 0;
    @include row;

    .content {
        @include col(3, 4);
        display: block;
        float: none;
        margin: 0 auto;
    }
}

/* Publications Main Page -------------------------------------------- */

.publications.page {

    .current-bsp {
        @extend %clearfix;

        h1 {
            @include font-size(2, 2.4);
        }
    }

    .bsp-links {
        margin: 32px 0;
        padding: 0;
        list-style-type: none;
        @include row;

        li {
            @include col(1, 4, 5px);
            text-align: center;
        }

        a {
            display: block;
            padding: 1em;
            background: #f9f9f9;
            border: 2px solid #f2f2f2;
            @include font-size(.75, 1);
            color: #23272a;
            transition: all .2s;

            span {
                display: block;
                margin: 0 0 .5em;
                color: $blue;
                @include font-size(1.2, 1.4);
                text-transform: lowercase;
            }

            &:hover {
                border-color: darken(#f2f2f2, 10%);
            }
        }
    }

    .button {
        margin-right: .5em;
        @include font-size(1.125, 1.4);
    }

    .bsp-cover {
        float: left;
        max-width: 300px;
        margin: 0 1.5em 0 0;
    }

    .filters {
        margin: 1em 0;
        padding: 1em 0;
        border-top: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        text-transform: lowercase;

        li {
            display: inline-block;
            margin-right: 1em;
            @include font-size(1.2, 1.4);
        }

        a {
            color: #ccc;
        }

        li.active a {
            color: #23272a;
        }
    }
}

/* About BSP --------------------------------------------------------------- */

.about-bsp {
    background: #fafafa;
    
    .editors {
        @extend %clearfix;
    }
    
    .areas {
        @extend .primary;
        background: #fff;
        
        h2 {
            @include font-size(2, 2);
        }
    }
}
