/* Single Blog Post --------------------------------------------------- */

.single-post {
    background: #fafafa;
    
    .page-header {
        padding: 4em 0;
        background: #fafafa;
        border-top: 1px solid #d2d3d4;
        border-bottom: 1px solid #d2d3d4;
        
        h1 {
            margin: 0;
            @include font-size(2, 2.6);
        }
        
        &.weekly {
            color: #fff;
            background-image: url('../img/bg_weekly-roundup.jpg');
            background-size: cover;
        }
    }
    
    .simple-navigation {
        @extend %clearfix;
        @include font-size(.875, 1);
        margin: 0 0 1em;
        padding: .5em 0;
        border-top: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        
        a[rel="prev"] {
            float: left;
        }
        
        a[rel="next"] {
            float: right;
        }
    }
    
    .post-content {
        padding: 1em;
        background: #fff;
            
        p {
            margin-bottom: 1em;
        }
    }
    
    .star-block {
        position: relative;
        margin: 2em -1em;
        padding: 2.5em 1em;
        background: #f6f6f6;
        
        .star-grey, .star-white {
            display: block;
            position: absolute;
            width: 40px;
            height: 40px;
            left: 50%;
            margin-left: -20px;
            text-align: center;
            line-height: 40px;
            transform: rotate(-45deg);
            
            &::before {
                content: "\f005";
                display: inline-block;
                font-size: 20px;
                font-family: 'fontawesome', Arial, sans-serif;
                transform: rotate(45deg);
            }
        }
        
        .star-white {
            top: -20px;
            background: #fff;

            &::before {
                color: orange;
            }
        }
        
        .star-grey {
            bottom: -20px;
            background: #f6f6f6;
            
            &::before {
                color: $blue;
            }
        }
    }
    
    .tag-block {
        position: relative;
        margin: 2em -1em;
        padding: 2.5em 1em;
        background: #f6f6f6;
        
        .tag-icon {
            display: block;
            position: absolute;
            width: 40px;
            height: 40px;
            top: -20px;
            left: 50%;
            margin-left: -20px;
            text-align: center;
            line-height: 40px;
            color: $orange;
            background: #fff;
            transform: rotate(-45deg);
            
            &::before {
                content: "\f02e";
                display: inline-block;
                font-size: 20px;
                font-family: 'fontawesome', Arial, sans-serif;
                transform: rotate(45deg);
            }
        }
    }
    
    .star-block + .tag-block {
        margin-top: -2em;
        background: #fff;
        
        .tag-icon {
            background: #f6f6f6;
        }
    }
    
    .date {
        margin: 1.5em 0 0;
        @include font-size(.875, 1);
    }
    
    /* BSPA This Week ---------------------------------------------- */
    
    .btw-stories {
        list-style-type: none;
        margin: 0 0 2em;
        
        li {
            @extend %clearfix;
            min-height: 250px;
            position: relative;
            padding: 2em 0;
            border-top: 1px solid #ececec;
            
            &:first-child {
                padding-top: 1em;
                border-top: none;
            }
        }
        
        .btw-story-image {
            margin: 1em 0;
            
            @include bp-l {
                float: right;
                margin: 0 0 1em 1em;
            }
        }
    }
    
    .btw-tweets {
        @include row;
        
        li {
            @include col(1, 1);
            
            @include bp-l {
                @include col(1, 3);    
            }
        }
    }
}

/* Single People ------------------------------------------------------- */

.single-people {
    
    .role {
        text-transform: lowercase;
    }
    
    .content {
        width: 100%;
    }
    
    .post-content {
        @extend %clearfix;
        position: relative;
        padding-top: 1em;
        padding-left: 0;
        padding-bottom: 5em;
        padding-right: 320px;
        background: transparent;
        
        img {
            position: absolute;
            top: 0;
            right: 0;
            max-width: 300px;
        }
    }
    
    .contact {
        margin-bottom: 3em;
        
        a {
            margin-right: .5em;
            color: #ccc;
        }
    }
}
