/* Single Blog Post --------------------------------------------------- */

.single-post {
    background: #fafafa;
    
    .page-header {
        padding: 3em 0;
        background: #fafafa;
        border-top: 1px solid #d2d3d4;
        border-bottom: 1px solid #d2d3d4;
        
        h1 {
            margin: 0;
            @include font-size(2, 2.6);
        }
    }
    
    .post-content {
        padding: 1em;
        background: #fff;
    }
    
    .star-block {
        position: relative;
        margin: 2em -1em;
        padding: 2.5em 1em;
        background: #f6f6f6;
        
        .star-grey, .star-white {
            display: block;
            position: absolute;
            width: 40px;
            height: 40px;
            left: 50%;
            margin-left: -20px;
            text-align: center;
            line-height: 40px;
            transform: rotate(-45deg);
            
            &::before {
                content: "\f005";
                display: inline-block;
                font-size: 20px;
                font-family: 'fontawesome', Arial, sans-serif;
                transform: rotate(45deg);
            }
        }
        
        .star-white {
            top: -20px;
            background: #fff;

            &::before {
                color: orange;
            }
        }
        
        .star-grey {
            bottom: -20px;
            background: #f6f6f6;
            
            &::before {
                color: $blue;
            }
        }
    }
    
    /* BSPA This Week ---------------------------------------------- */
    
    .btw-stories {
        list-style-type: none;
        margin: 0 0 2em;
        
        li {
            position: relative;
            padding: 2em 0;
            padding-right: 320px;
            border-top: 1px solid #ececec;
            
            &:first-child {
                padding-top: 1em;
                border-top: none;
            }
        }
        
        .btw-story-image {
            position: absolute;
            top: 1.5em;
            right: 0;
            width: 300px;
        }
    }
    
    .btw-tweets {
        @include row;
        
        li {
            @include col(1, 1);
            
            @include bp-l {
                @include col(1, 3);    
            }
        }
    }
}
