/* Billboard Feature ----------------------------------- */

.billboard {
    padding: 2em 0;
    text-align: left;
    background-size: cover;
    color: #333;

    @include bp-l {
        padding: 4em 0;
    }

    h2 {
        @include font-size(2, 2);
        color: $blue;
    }

    &.center {
        text-align: center;

        p {
            width: 80%;
            margin: 0 auto;
            @include font-size(.875, 1.2);
            color: $dark-gray;

            @include bp-l {
                width: 50%;
            }
        }

        .button {
            margin-top: 2em;
        }
    }

    &.light {

        h2, h3, p {
            color: #fff;
        }
    }

    &.join {
        background-image: url('../img/bg_home-join.jpg');
    }

    // Newsletter
    &.newsletter {
        background-image: url('../img/bg_home-newsletter.jpg');

        p {
            margin-bottom: 2em;
        }

        .gform_wrapper {
            margin: 0;
        }

        .gform_body, .gform_footer {
            width: 80%;
            margin: 0 auto;
            text-align: center;

            @include bp-l {
                width: 50%;
            }
        }
    }

    // Submit
    &.submit {
        background-image: url('../img/bg_billboard-submit.jpg');
    }

    // Early Bird Notifications
    &.notifications {
        background-image: url('../img/bg_billboard-notifications.jpg');
    }

    // Conference
    &.conference {
        background-image: url('../img/bg_billboard-conference.jpg');
    }

    // BSP
    &.bsp {
        background-image: url('../img/bg_home-bsp.jpg');
    }
}
