/* Billboard Feature ----------------------------------- */

.billboard {
    padding: 2em 0;
    text-align: left;
    background-size: cover;
    color: #333;

    @include bp-l {
        padding: 3em 0;
    }

    h2 {
        @include font-size(2, 2);
        color: $blue;
    }

    &.center {
        text-align: center;

        p {
            width: 80%;
            margin: 0 auto;
            @include font-size(.875, 1.2);
            color: $dark-gray;
        }

        .button {
            margin-top: 2em;
        }
    }

    &.light {

        h2, h3, p {
            color: #fff;
        }
    }

    &.join {
        background-image: url('../img/bg_home-join.jpg');
    }

    // Newsletter
    &.newsletter {
        background-image: url('../img/bg_home-newsletter.jpg');

        p {
            margin-bottom: 2em;
        }

        .gform_wrapper {
            margin: 0;
        }

        .gform_body, .gform_footer {
            width: 80%;
            margin: 0 auto;
            text-align: center;

            @include bp-l {
                width: 50%;
            }
        }
    }

    // Submit
    &.submit {
        background-image: url('../img/bg_billboard-submit.jpg');
    }

    // Early Bird Notifications
    &.notifications {
        background-image: url('../img/bg_billboard-notifications.jpg');
    }

    // Conference
    &.conference {
        background-image: url('../img/bg_billboard-conference.jpg');
    }

    // BSP
    &.bsp {
        background-image: url('../img/bg_home-bsp.jpg');
    }
    
    // New to bsp
    &.new-to-bsp {
        background: $blue;
    }
    
    // In action
    &.in-action {
        text-align: left;
        background: $blue;
        
        @include bp-l {
            padding: 48px 0;
            @include row;
        }
        
        img {
            
            @include bp-l {
                @include col(1, 2);    
            }
        }
        
        .organizations {
            color: #fff;
            
            @include bp-l {
                @include col(1, 2);
            }
            
            ul {
                list-style-type: circle;
                @include font-size(.875, 1.2);
            }
            
            > ul {
                list-style-type: none;
                
                > li {
                    margin: 0 0 16px;
                    @include rowMachine(2, 4%);
                    
                    @include bp-l {
                        @include rowMachine(3, 4%);
                    }
                }
            }
        }
    }
}
