// Blocks

.block {

    h1 {
        @include font-size(2, 2);
    }
}

// Expanding Lists

.expand-list {
    margin: 2em 0;
    padding: 0;
    list-style-type: none;

    li {
        position: relative;
        padding: 2em 0 1em;
        border-bottom: 1px solid #dddee0;
    }

    .expand-title {
        display: block;
        padding-left: 40px;
        margin: 0 0 .5em;
        @include font-size(1.5, 2);
        color: #191f6b;
        cursor: pointer;
        text-transform: lowercase;

        &:before {
            content: "\f054";
            font-family: "FontAwesome";
            display: inline-block;
            position: absolute;
            top: 36px;
            left: 0;
            width: 40px;
            height: 40px;
            font-size: 18px;
        }

        &.open {
            color: $orange;

            &:before {
                content: "\f078";
            }
        }
    }

    .expand-description {
        display: none;
        margin-left: 40px;
        padding: 1em 0;
        color: #23272a;
        @include font-size(.875, 1.5);
    }
}

// Gravity Forms

.gform_wrapper {
    margin: 1em 0;
    text-align: center;

    .gform_fields {
        margin: 0;
        list-style-type: none;
    }

    label {
        display: none;
    }

    input[type="email"], input[type="text"], textarea {
        width: 100%;
        margin: 0 0 1em;
        padding: .5em;
        border: none;
    }

    textarea {
        height: 150px;
    }

    input[type="submit"] {
        display: inline-block;
        width: auto;
        @extend .button.alt;
        border: none;
        margin-top: 1em;
        @include font-size(.8125);
    }
}
