/* ================================================================
    Footer
=================================================================== */

footer {
    margin: 1em 0 0;
    padding: 1em 0;
    border-top: 12px solid #d1d3d3;
    background: #262729;
}
