/* ================================================================
    Header
=================================================================== */

header {
    @extend %clearfix;
    position: relative;
    background: #fff;
    border-bottom: 1px solid $bordergray;

    .container {
        width: 100%;

        @include bp-xl {
            width: 1000px;
        }

        @include bp-xxl {
            width: 1150px;
        }
    }

    nav {
        display: none;
        text-transform: lowercase;

        @include bp-xl {
            position: relative;
            width: 80%;
            float: right;
            display: block;
            z-index: 1000;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            position: relative;
            display: block;
            border-top: 1px solid #dadada;

            @include bp-xl {
                display: inline-block;
                position: relative;
                border: none;

                &:hover {

                    .sub-menu {
                        display: block;
                    }
                }

                &.current_page_item a {
                    color: $orange;
                    border-color: $orange;
                }
            }

            a {
                display: block;
                padding: 12px 30px;
                @include font-size(.75, 1);
                color: #000;
                background: #f9f9f9;

                &:hover {
                    color: #000;
                    background: #f6f6f6;
                }

                @include bp-xl {
                    @include font-size(1.125, 1);
                    padding: 3em 1em;
                    border-top: 5px solid transparent;
                    background: transparent;

                    &:hover {
                        color: $orange;
                        border-color: $orange;
                        background: transparent;
                    }

                    &.current_page_item a {
                        color: $orange;
                        border-color: $orange;
                    }
                }
            }
        }
    }

    nav .sub-menu {
        display: none;

        @include bp-xl {
            width: 170px;
            position: absolute;
            background: #f2efef;
            border-top: 3px solid $orange;
        }

        li {
            display: block;
        }

        a {
            width: 100%;
            padding: 1em 0 1em 3.5em;
            border: none;
            @include font-size(.75, 1);

            &:before {
                content: "-";
                margin-right: 2px;
            }

            @include bp-xl {
                padding: 1em;
                @include font-size(1, 1.2);
                border-bottom: 1px solid #dcdadb;

                &:before {
                    content: none;
                }
            }

            &:hover {
                background: #f7f7f7;
                border-color: #dcdadb;
            }
        }
    }

    .logo {
        display: block;
        width: 183px;
        height: 110px;
        background: url("../img/l_bsp.png");
        background: url("../img/l_bsp.svg");
        background-repeat: no-repeat;
        border: 0;
        font: 0/0 a;
        text-shadow: none;
        color: transparent;
        margin: 12px 0 12px 2.5%;

        @include bp-xl {
            width: 20%;
            float: left;
            margin: 12px 0;
        }
    }
}

/* Nav Toggle -------------------------------------------------- */

.nav-toggle {
    display: block;
    position: absolute;
    top: 60px;
    right: 2.5%;
    width: 42px;
    height: 42px;
    border: none;
    background: transparent;
    z-index: 999;
    transition: all 250ms ease-in-out;

    @include bp-xl {
        display: none;
    }

    &:focus {
        outline: none;
    }

    span {
        left: 6px;
    }

    span, span:before, span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 3px;
      width: 30px;
      background: #ccc;
      position: absolute;
      display: block;
      content: '';
      transition: all 250ms ease-in-out;
    }

    span:before {
      top: -10px;
    }

    span:after {
      bottom: -10px;
    }

    &.active {

        span {
            background-color: transparent;
        }

        span:before, span:after {
            top: 0;
            background-color: #ccc;
        }

        span:before {
            transform: rotate(45deg);
        }

        span:after {
            transform: rotate(-45deg);
        }
    }
}

/* Submenu Toggles --------------------------------------------- */

.toggle-sub {
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
    width: 41px;
    height: 41px;

    &:before {
        content: "\f078";
        font-family: 'FontAwesome';
        background-position: -32px -16px;
        height: 16px;
        width: 16px;
        position: absolute;
        top: 8px;
        right: 10px;
        color: #333;
        transition: all .2s;
    }

    &:hover {

        &:before {
            color: $orange;
        }
    }

    &.active {

        &:before {
            content: "\f077";
        }
    }

    @include bp-l {
        display: none;
    }
}

/* Access Nav -------------------------------------------------- */

.access-nav {
    @extend %clearfix;
    background: #fafafa;
    border-top: 3px solid $orange;
    border-bottom: 1px solid $bordergray;
    text-transform: lowercase;

    .container {

        @media (max-width: 1000px) {
            width: 100%;
        }
    }

    .menu {
        width: 100%;
        text-align: center;

        @include bp-xl {
            float: left;
            width: auto;
            text-align: left;
        }

        ul {
            margin: 0;
            list-style-type: none;
        }

        li {
            display: inline-block;
            border-left: 1px solid #efefef;

            &:first-child {
                border: none;

                a {
                    padding-left: 0;
                }
            }
        }

        a {
            display: block;
            padding: 1.25em 1em;
            color: $dark-gray;
            @include font-size(.75, 1);

            &:hover {
                color: #000;
            }
        }
    }
}

/* Social -------------------------------------------------- */

.social {
    margin: 0 auto;
    padding: 1em 0;
    list-style-type: none;
    border-top: 1px solid $bordergray;
    text-align: center;

    @include bp-xl {
        float: right;
        margin: .875em 0 0;
        padding: 0;
        border: none;
    }

    li {
        display: inline-block;
    }

    a {
        padding: .5em;
        color: #bebdbd;

        &:hover {
            color: lighten(#bebdbd, 5%);
        }

        i {
            @include font-size(1.2, 1.2);
        }
    }
}
