/* ================================================================
    Site Layout
=================================================================== */

.primary-content, .container {
    width: 95%;
    margin: 0 auto;

    @include bp-xl {
        width: 1000px;
    }

    @include bp-xxl {
        width: 1150px;
    }
}

.primary-content {
    padding: 1em 0;
}
