/* ================================================================
    Site Layout
=================================================================== */

.primary-content, .container {
    width: 95%;
    margin: 0 auto;

    @include bp-xl {
        width: 1000px;
    }

    @include bp-xxl {
        width: 1150px;
    }
}

.primary {
    @include row;
    padding: 1em 0;

    .content {

        @include bp-l {
            @include col(3, 4);
        }
    }

    .secondary-content {

        @include bp-l {
            @include col(1, 4);
        }
    }
}

.row {
    @include row;
}
